/* /src/app/globals.css */
/* Tailwind CSS v3.0.0 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 추가적인 커스텀 스타일 (예: 기본 커서 숨기기) */
*,
*::before, 
*::after {
  cursor: none !important;
}

@layer base {
  :root {
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 8%;
    --border: 0 0% 90%;
  }
}